/*############### LOGIN ###################*/

html,body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    background-image: url("../img/loginBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin h1 {
    text-align: center;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"], .form-signin input[type="password"] {
    margin-bottom: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #ECB390;
    border: solid 1px #ECB390;
}

#btn_singin{
    border-radius: 10px;
    border: solid 1px #758e7e;
    background-color: #758e7e;
}
#btn_singin:hover{
    border-radius: 10px;
    border: solid 1px #94B49F;
    background-color: #94B49F;
}
#warning{
    text-align: center;
}

